<h1 id="sign_up_heading">Please enter your details</h1>
<form id="new_user" action="/user/new" method="post">
	Email: 					<input type="text" name="email">
	Nom de Chitter: 		<input type="text" name="name">
	Password: 				<input type="password" name="password">
	Password confirmation: 	<input type="password" name="password_confirmation">
							<input type="submit" value="Pledge">
</form>